:root {
    --bg_color_seccion: #006699;
    --h_color: #343a40;
    --p_color_section: white;
    --p_color_body: #868e96;
    --name_website_color: #006699;
    --h_tipoFuente: 'Saira Extra Condensed';
    --p_tipoFuente: 'Open Sans';
}